<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <script defer data-domain="view.qiime2.org" src="https://plausible.io/js/script.file-downloads.outbound-links.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
		<link rel="modulepreload" href="/_app/immutable/entry/start.28eb98c6.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/scheduler.48e626f5.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/singletons.265a02bd.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.94bc57dd.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.dd97bb5b.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.2cff6c41.js">
  </head>
  <body data-sveltekit-preload-data="hover">
    <div style="display: contents">
			<script>
				{
					__sveltekit_1gzuna1 = {
						base: "",
						env: {}
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.28eb98c6.js"),
						import("/_app/immutable/entry/app.dd97bb5b.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
    <noscript>
      <style>
        .js-needed {
          display: none;
        }
      </style>
      <div class="container">
        <h1>JavaScript Required</h1>
        <p>
          Sorry, this page requires JavaScript to function. Please enable it in
          your browser for this domain name.
        </p>
      </div>
    </noscript>
  </body>
</html>
